/**{
    color: khaki;
}

li{
    margin: 20px;
}

a{
    color: red;
    text-decoration: none;
}

.linkClass{
    color: green;
}

#linkId{
    color:indigo;
}
#linkId2{
    color:lightcoral;
}

:root {
  --first-font-size: 14px;
  --hover-color-font: red;
  --color-font: white;
  --primary-color: black;
  --second-color: blue;
}

a:link {
  color: blue;
}
a:visited {
  color: pink;
}
a:hover {
  color: red;
  font-size: 20px;
}
a:active {
  color: yellow;
}

div {
  background-color: var(--primary-color);
  color: var(--color-font);
  margin: 10px;
  font-size: var(--first-font-size);
}
div:hover {
  background-color: var(--second-color);
  color: var(--hover-color-font);
  font-size: calc(var(--first-font-size) + 5);
}
div.class1:hover {
  background-color: tomato;
  color: white;
  font-size: 20px;
}

div.classdiv p {
  display: none;
  padding: 10px;
  background-color: yellow;
  margin-top: 20px;
}
div.classdiv:hover > p {
  display: block;
  margin-left: 20px;
}


:first-child: первым дочерним элементом

:last-child: ппоследним дочерним элементом

:nth-child(n): дочерний элемент номер n

:nth-of-type(n): дочерний элемент определенного типа и определенного номера

a:first-child {
  background-color: lightskyblue;
}

a:last-child {
  background-color: lightsalmon;
}
a:nth-child(2) {
  background-color: lightseagreen;
}

a {
  display: block;
}
*/

table,
th,
td {
  border: 2px solid black;
  padding: 10px;
  border-collapse: collapse; /*соединить ближ границы*/
}

thead {
  background-color: darkcyan;
  color: white;
}

tfoot {
  background-color: slategrey;
}

caption {
  font-size: 20px;
  font-weight: bold;
}

tr:nth-child(odd) td:nth-child(odd) {
  background: chartreuse;
}

tr:nth-child(odd) td:nth-child(even) {
  background: springgreen;
}

tr:nth-child(even) td:nth-child(odd) {
  background: springgreen;
}

tr:nth-child(even) td:nth-child(even) {
  background: azure;
}
